.cards{
    margin-top:calc(1vw + 100px);
    margin-bottom:1vw;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.card{
    padding: 1vw;
}
.poster{
    width: 300px;
    height: 450px;
    box-shadow: 5px 5px 5px;
}
.content {
    width: 300px;
    height: 450px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 5px;
    font-family: sans-serif;
}
.overview::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.title{
    margin-bottom: 10px;
    font-size:large;
    font-weight:bold;
}
.overview{
    height: 80%;
    overflow-y:scroll;
    font-size: small;
}
.foot{
    margin-top: auto;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.Header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    background-color: rgb(255, 255, 255,0.5);
    font-family:fantasy;
}
.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}
.headerButton{
    height: fit-content;
}
.progressBar{
    width: 80vw;
}